  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');

/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-image: url('./assets/images/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg');
    height: 100vh;
    background-size: cover;
    padding-top: 9.3rem;
    padding-left: 4rem;

}

h1{
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    font-family: 'Poppins';
}

span{
    font-size: 40px;
    color: #fff;
    font-family: 'Montserrat';
}

a{
    color: #fff;
    font-size: 1.9rem;
    text-decoration: none;
    background: linear-gradient(90deg,#DAE2F8, #D6A4A4);
    padding : 1rem 2rem;
    border-radius: 7px;

}